{% extends "base.html.twig" %}
{% block title %} Home {% endblock %}

{% block body %}
    <div class="container-fluid" style="padding-left: 55px; padding-right: 55px">
        <div class="row" style="margin-top: 15px">
            <div class="col-lg-9">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-3 ">
                            <div class="card m-1">
                                <img src="/assets/blog/images/{{ article.image }}" class="card-img-top" alt="{{ article.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="date" style="font-size: 10px; font-weight: lighter">Écrit le {{ article.createdAt | date("d/m/Y") }} à  {{ article.createdAt | date("H:i") }} par {{ article.author}} </p>
                                    <a href="{{ path('show',{'id': article.id}) }}" class="btn btn-primary">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <h5>Catégories</h5>
                <ul class="list-group">
                    {% for categorie in categories | reverse %}
                        {% if categorie.articles | length >= 1 %}
                            <a href="{{ path('per_category', {'id': categorie.id}) }}">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ categorie.title }}
                                    <span class="badge badge-primary badge-pill">{{ categorie.articles | length }} article (s)</span>
                                </li>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}